/** #HEADER */

header, header a { align-items: flex-end; }
header
{
    justify-content: space-between;

    height: 70px;
}
#logo
{
    width: 61px;
    height: 19px;
}
#logo img { width: inherit; height: inherit; }
header>nav a
{
    justify-content: center;

    width: 162px;

    border-top: solid transparent 2px;
}
header>nav a:hover
{
    border-color: var(--color-0);

    color: var(--color-0) !important;
}

/** #MAIN */

main
{
    display: flex;
    flex-direction: column;
    gap: 50px 0;

    padding: 50px 0;
}
main h2 { margin-bottom: 25px; }

/** > #command */

#command>p { margin-top: 8px; }

#command>form { margin-top: 20px; }
#command>form>*
{
    height: 50px;

    border: none;

    font-size: 18px;
    font-weight: 700;
}
#command>form>button { min-width: 50px; }
#command>form>button[type="button"] { border-radius: 15px 0 0 15px; }
#command>form>input { padding: 0 17px; }
#command>form>input[type="search"]
{
    max-width: 232px;

    border-top: solid var(--bg) 1px;
    border-bottom: solid var(--bg) 1px;

    outline: none;
}
#command>form>input[type="submit"], #command>form>button[type="submit"]
{
    background-color: var(--color-0);

    border-radius: 0 15px 15px 0;

    color: white;
}
#command>form>button[type="submit"] { display: none; }

#command>ul, #command>ul button, #command>aside { align-items: center;}
#command>ul
{
    flex-wrap: wrap;
    gap: 10px 20px;

    margin-top: 30px;
}
#command>ul h4 { font-size: 18px; }
#command>ul button
{
    height: 50px;

    padding: 0 25px;

    background-color: transparent;

    border: solid var(--color-2) 2px;
    border-radius: 30px;
    
    font-size: 17px;
    font-weight: 700;
}
#command>ul i
{
    margin-right: 10px;

    font-size: 22px;
}

#command>aside { margin-top: 40px; }
#command>aside>i
{
    display: flex !important;
    justify-content: center;
    align-items: center;

    min-width: 24px;
    height: 24px;

    margin-right: 10px;

    border: solid var(--color-2) 1px;
    border-radius: 50%;

    font-size: 12px;
}

/** > #hosting */

#hosting { gap: 40px; }

#hosting>div, #hosting>aside
{
    padding: 40px;

    border-radius: 20px;
}
#hosting .article-container { gap: 25px 3.5%; }

#article-container-1 { flex-wrap: wrap; }
#article-container-1>article { width: 31%; }
#article-container-1 img { height: 124px; }
#article-container-1 div { padding: 5px 15px; }
#hosting>div>a
{
    display: block;

    margin-top: 40px;

    font-size: 18px;
    font-weight: 700;
}

#hosting>aside { flex-shrink: 2; }
#hosting>aside>div:nth-child(1) { justify-content: space-between; }
#hosting>aside>div:nth-child(1)>i { font-size: 18px; }
#article-container-2 { flex-direction: column; }
#article-container-2 article { height: 154px; }
#article-container-2 img
{
    float: left;

    width: 37%;
}
#article-container-2 div
{
    position: relative;

    width: 63%;

    margin-left: 37%;
    padding: 15px 20px;
}
#article-container-2 .star-list
{
    position: absolute;
    bottom: 10px;
}

/** > #activity */

#article-container-3 { gap: 15px 40px; }
#article-container-3 a
{
    display: block;

    width: 25%;
    height: 444px;
}
#article-container-3 img { height: 87%; }
#article-container-3 figcaption
{
    align-items: center;

    position: relative;
    bottom: 4px;

    height: 13%;

    padding: 0 20px;
}

/** #FOOTER */

footer { padding: 50px 70px; }
footer nav
{
    width: 33.33%;

    padding-left: 10px;
}
footer h2 { margin-bottom: 20px; }
footer a { line-height: 30px; }
footer a:hover { text-decoration: underline; }

@media screen and (max-width: 1134px) /** correction : texte qui se superpose dans "Les plus populaires" */
{
    #article-container-2 div { padding: 5px 15px; }
}